{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    INVENTORY MANAGEMENT SYSTEM

    A system that is used to manage and track the inventory of a business. The system will help to ensure that the right items are ordered and that the inventory is kept up to date.
    We are a company that specializes in the development of software for inventory management systems. We have many years of experience in this area, and we are able to develop software that can meet the specific needs of our clients. Our software is reliable and easy to use, and it can help our clients to manage their inventory more effectively.
</p>

{% endblock %}
