{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>IMS</h1>
    <p class="lead">
        An inventory management system is a computerized system that manages the stocking of goods and materials in a business. It usually includes a database of items, their quantities, and the locations where they are stored. The system also tracks orders and shipments, and can generate reports on inventory levels and pricing.
    </p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <img src="../static/Images/header.png" width="1150"/>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Inventory management system is very important to track the stock of goods and materials in an organization. It helps an organization to keep track of inventory levels, order more goods when necessary, and keep track of what needs to be replaced.An inventory management system can be as simple as a pencil and paper or as complex as a software program that runs on a computer. The most important thing is to have some way of tracking what is in stock and what needs to be ordered.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>More libraries to inventory management system would help to improve the accuracy and efficiency of the inventory process. By adding more libraries, the system would be able to capture a wider range of data and create a more accurate inventory. Additionally, more libraries would mean that the system could be used by more people, improving the overall functionality of the inventory management process.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Python Flask</h2>
        <p>
            Inventory management system is a web application that helps store and manage the inventory of a business. It can help track the stock levels, track orders, and notify users when stock is low. The system can also help manage prices and discounts, and keep track of sales and purchases.
        </p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
